<launch>
    <!-- Arguments -->
    <arg name="auto_start" default="false" />    
    <arg name="open_rviz" default="false" />    

    <!-- SLAM -->
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
        <arg name="open_rviz" value="$(arg open_rviz)" />
    </include>

    <!-- Navigation -->
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch" />
    <include file="$(find turtlebot3_navigation)/launch/amcl.launch" />

    <!-- Exploration -->
    <include file="$(find explore_lite)/launch/explore.launch">
        <arg name="auto_start" value="$(arg auto_start)" />
    </include>

    <!-- My Node -->
    <node pkg="deliverable1" type="my_node.py" name="my_node" output="screen" />

    <!-- RViz (don't change) -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find deliverable1)/rviz/my_layout.rviz"/>

</launch>
